{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/detail.css' %}"/>

<h1>{{ poll.question }}</h1>
<p class="pubdate">Published {{ poll.pub_date }}</p>

{% if error_message %}
    <p class="errormessage">{{ error_message }}</p>
{% endif %}
<form action="{% url 'polls:vote' poll.id %}" method="POST">
    {% csrf_token %}
    <div id="choice-container">
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label class="inputLabel" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
    {% endfor %}
    </div>
    <br/>
    <input id="submit" type="submit" value="Vote" />
</form>

<a id="backbutton" href="{% url 'polls:index' %}">Back to Index</a>