html {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

.pubdate {
    text-align: center;
    font-size: small;
}

.errormessage {
    color: red;
    font-weight: bold;
    text-align: center;
}

a {
    color: DarkOrange;
    text-align: center;
}

#submit {
    border: 1px solid DarkOrange;
    border-radius: 5px;
    background: none;
    color: DarkOrange;
    font-size: large;
}

ul {
    list-style: none;
    padding: 4px;
}

form {
    text-align: center;
}

#backbutton {
}